<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBookServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyBookServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ModifyBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountRecordsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.CountRecordsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindBookServlet</servlet-name>
        <servlet-class>za.ac.tut.web.FindBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBooksServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBookServlet</servlet-name>
        <servlet-class>za.ac.tut.web.RemoveBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/AddBookServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBookServlet</servlet-name>
        <url-pattern>/GetBookServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyBookServlet</servlet-name>
        <url-pattern>/ModifyBookServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountRecordsServlet</servlet-name>
        <url-pattern>/CountRecordsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindBookServlet</servlet-name>
        <url-pattern>/FindBookServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBooksServlet</servlet-name>
        <url-pattern>/ViewBooksServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBookServlet</servlet-name>
        <url-pattern>/RemoveBookServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
